# TMDB API — https://www.themoviedb.org/settings/api
# Solicita una API Key (v4 Read Access Token recomendado)
TMDB_API_KEY=
TMDB_API_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p

# Idioma por defecto para la API de TMDB
TMDB_DEFAULT_LANG=es-ES
